@{
    ViewData["Title"] = "Home Page";
}

<div id="mapDiv">
    <div id="HomeButtonDiv">
        <i class="fa-solid fa-pen-ruler"></i>

    </div>

    <div id="LocateButtonDiv"></div>

    <div id="measurementButton">
        <i class="fa-solid fa-pen-ruler"></i>
    </div>
    <div class="card card-panel no-width" id="measurementContainer">
        <h5 class="card-header">Công cụ đo</h5>
        <div class="card-body">
            <div id="measurementDiv"></div>
        </div>
    </div>

    <div id="basemapGalleryButton">
        <i class="fa-regular fa-map"></i>
    </div>
    <div class="card card-panel no-width" id="basemapGalleryContainer">
        <h5 class="card-header">Bản đồ nền</h5>
        <div class="card-body">
            <div id="basemapGalleryDiv"></div>
        </div>
    </div>

    <div id="dirButton">
        <i class="fa-solid fa-route"></i>
    </div>
    <div class="card card-panel no-width" id="dirContainer">
        <!--<h5 class="card-header">Bản đồ nền</h5>-->

        <div class="card-body">
            <div id="dir"></div>
        </div>
    </div>
    

</div>
